.body {
    position: relative;
    margin: 0 auto;
    height: auto;    
    max-width: 1600px;
    font-family: 'Montserrat';
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @media screen and (min-width: 480px) {
        max-width: 480px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 1200px;
    }
}
.button {
    display: inline-block;
    flex: 0 0 auto;
    text-align: center;
    // cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.28;
    /* 18/14 */
    color: #000;
    border-radius: 10px;
    border: 2px solid #f8d24e;
    transition: background-color 0.3s var(--timings) 0s,
        border 0.3s var(--timings) 0s, color 0.3s var(--timings) 0s;

    &:hover,
    &:focus {
        background-color: #0a8817;
        border: 2px solid #0a8817;
    }

    &:focus {
        color: #FCFCFC;
    }
}

.button--filling {
    border: none;
    background-color: #f8d24e;

    &:hover,
    &:focus {
        border: none;
        background-color: #0a8817;
    }
}

.button--transparent {
    background-color: transparent;
    border-color: 2px solid #f8d24e;

    &:hover,
    &:focus {
        background-color: transparent;
        border: 2px solid #0a8817;
    }

    &:focus {
        background-color: transparent;
        color: #fcfcfc;
    }
}

button,
input {
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
}

button {
    cursor: pointer;
    background-color: inherit;
}